/* Mobile*/
@media (max-width: 46.1875em) {
    .playlist {
        width: 100%;
        margin-top: 78px;
    }

    .switch-playlist {
        bottom: -4px;
    }

    .song {
        padding: 8px 25px;
    }

    .volume-bar, .progress-bar {
        height: 8px;
    }

    .volume-bar {
        height: 7px;
    }
}

/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    .playlist {
        width: 480px;
        max-width: 100%;
        margin-top: 60%;
    }
}